body{
	background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
	text-align: center;
	font-family: sans-serif;
}
footer{
    background-color: #34495e;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
}
x-layout {
	border: 0px;
}
x-layout>section{
	height: auto;	
}
#image-presenter {
	width: 100px;
	height: 100px;
}
#canvas {
	width: 100px;
	height: 100px;
}
.i {
  filter: url(invert.svg#matrix-invert);
}
.btn {
	height: 50px;
	width: 32%;
	background-color: #34495e;
	border: 0px;
	text-align: center;
}