body{
	background-color: #ecf0f1;
	text-align: center;
	font-family: sans-serif;
}
button {
	background: none;
}
footer{
    background-color: #34495e;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
}
x-layout {
	border: 0px;
}
x-layout>section{
	height: auto;	
}
#image-presenter {
	width: 97%;
	height: 395px;
}
#canvas {
	width: 100px;
	height: 100px;
}
.i {
  filter: url(invert.svg#matrix-invert);
}
.btn {
	height: 50px;
	width: 32%;
	background-color: #34495e;
	border: 0px;
	text-align: center;
}